<h2>Quioiiiiziiz</h2>
<p>{{this.seasons}}</p>

<div>
    {{#if this.lastQuote}}
        <Response @quote={{this.lastQuote}} @answer={{this.lastAnswer}} @answerStyle={{this.answerStyle}}></Response>
    {{/if}}

    <Question @data={{this.activeQuote}}  @updateScore={{this.updateScore}} @checkIfQuizzFinished={{this.checkIfQuizzFinished}} @updateQuestionComponent={{this.updateQuestionComponent}} @updateResponse={{this.updateResponse}} ></Question>

    <span>{{this.score}}</span>
</div>
<span>Is Finished : {{this.isFinished}}</span>
{{outlet}}