<h2>Quioiiiiziiz</h2>
<p>{{this.seasons}}</p>

<div>
    <Question @data={{this.activeQuote}}  @updateScore={{this.updateScore}} @checkIfQuizzFinished={{this.checkIfQuizzFinished}} @updateQuestionComponent={{this.updateQuestionComponent}} ></Question>

    <span>{{this.score}}</span>
</div>
<span>Is Finished : {{this.isFinished}}</span>
{{outlet}}