<div class="container">
    <div class="row">
        <div class="col">
            <h3>Livre sélectionné : {{this.seasons}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                {{#if this.lastQuote}}
                    <Response @quote={{this.lastQuote}} @answer={{this.lastAnswer}} @answerStyle={{this.answerStyle}} @isValid={{this.isValid}}></Response>
                {{/if}}
                {{#unless this.isFinished}}
                    <Question @data={{this.activeQuote}}  @updateScore={{this.updateScore}} @checkIfQuizzFinished={{this.checkIfQuizzFinished}} @updateQuestionComponent={{this.updateQuestionComponent}} @updateResponse={{this.updateResponse}} @isDisable={{this.isFinished}}></Question>
                {{/unless}}

                
            </div>
        </div>
    </div>
    {{#if this.isFinished}}
    <div class="row">
        <div class="col">
            <div class="form">
                <label>Entrez votre nom: </label>
                {{input type="text" class="form-control" value=this.name placeholder="Kadoc"}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="quizz">
                <button type="button" class="btn btn-success" {{on 'click' this.moveToScoreBoard}} >Consulter mon score</button>
            </div>
        </div>
    </div>
    {{/if}}

</div>





{{!-- {{outlet}} --}}